<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <input type="text" id="productCode" placeholder="상품코드"/>
    <input type="text" id="productName" placeholder="상품이름"/>
    <button id="btn-save">등록</button>
</form>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var index = {
        init: function () {
            var _this = this;
            $('#btn-save').on('click', function () {
                _this.save();
            });
        },

        save: function () {
            var data = {
                productCode: $('#productCode').val(),
                productName: $('#productName').val(),
            };

            // alert("save-1");

            $.ajax({
                type: 'post',
                url: '/product',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert("done");
                window.location.href = '/complete';
            }).fail(function (error) {
                alert(JSON.stringify(error));
            }).always(function () {
                alert("always");
            });
            console.log(111);
            // alert("save-2");
        }

    };
    index.init();

</script>


</body>
</html>