{{>common/header}}

<h2>회원가입</h2>
<form>
    <input type="email" id="email" placeholder="이메일 입력"/>
    <input type="password" id="password" placeholder="비밀번호 입력"/>
    <input type="text" id="name" placeholder="이름 입력"/>
    <button type="submit" id="btn-register">가입하기</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    var index = {
        init: function () {
            var _this = this;
            $('#btn-register').on('click', function () {
                _this.save();
            });
        },

        save: function () {
            var data = {
                email: $('#email').val(),
                password: $('#password').val(),
                name: $('#name').val()
            };

            $.ajax({
                type: 'POST',
                url: '/user',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert('글이 등록되었습니다.');
                window.location.href = '/';
            }).fail(function (error) {
                alert(data.email);
                alert(data.password);
                alert(data.name);
                alert(JSON.stringify(error));
                alert('에러!')
            });
        }
    };
    index.init();
</script>


{{>common/footer}}
