<div th:insert="/customer/header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag"></div>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:insert="/customer/nav"></div>

<div class="container text-center" >
    <h1 style="margin: 30px 0px;">마이페이지</h1>
    <div class="row justify-content-md-center" style="margin-bottom: 100px;" >
        <div class="col col-lg-2 border" style="height: 200px; line-height:200px; background-color: #ecf0f1; border-radius: 20px; margin: 10px;"><a style="font-weight: bold; color: #686de0;" href="/order/list">주문 내역</a></div>
        <div class="col col-lg-2 border" style="height: 200px; line-height:200px; background-color: #ecf0f1; border-radius: 20px; margin: 10px;"><a style="font-weight: bold; color: #686de0;" href="/address">배송지 목록</a></div>
    </div>
</div>
<!-- footer -->
<div th:insert="/customer/footer"></div>

</body>

</html>