<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">

    </ul>
    <div class="offcanvas__logo">
        <a href="index.html"><img src="/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/info}">내정보</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">

                </nav>
            </div>

            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth" xmlns:sec="http://www.w3.org/1999/xhtml"
                         xmlns:th="http://www.w3.org/1999/xhtml">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
                        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/info}">내정보</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
                    </div>
                    <ul class="header__right__widget">

                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
