<div th:insert="/customer/header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag"></div>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:insert="/customer/nav"></div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="#">Women’s </a>
                    <span>Essential structured blazer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Product Details Section Begin -->
<section class="product-details spad" th:each="product : ${product}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                        </a>
                        <a class="pt" href="#product-2">
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                        </a>
                        <a class="pt" href="#product-3">
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                        </a>
                        <a class="pt" href="#product-4">
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <!--                            <img data-hash="product-1" class="product__big__img" src="/img/product/details/product-1.jpg"-->
                            <!--                                 alt="">-->
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                            <div th:switch="${product.imgType}">
                                <div th:case="'url'"><img
                                        th:src=" @{ ${product.productUrlImg} }"></div>
                                <div th:case="'file'"><img
                                        th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3 th:text="${product.productName}"><span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                    <!--                    <div class="rating">-->
                    <!--                        <i class="fa fa-star"></i>-->
                    <!--                        <i class="fa fa-star"></i>-->
                    <!--                        <i class="fa fa-star"></i>-->
                    <!--                        <i class="fa fa-star"></i>-->
                    <!--                        <i class="fa fa-star"></i>-->
                    <!--                        <span>( 138 reviews )</span>-->
                    <!--                    </div>-->

                    <div id="productPrice" class="product__details__price" th:text="${product.productPrice}"><span>$ 83.0</span>
                    </div>

                    <!--                    <div class="product__details__price">$ 75.0 <span>$ 83.0</span></div>-->
                    <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p>
                    <form name="productInfo">
                        <div class="product__details__button">
                            <input type="text" id="id" name="id" th:value="${product.id}" hidden>
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" name="quantity" value="1">
                                </div>
                            </div>
                            <a href="#" id="btn-cart" class="cart-btn"><span class="icon_bag_alt"></span> Add to
                                cart</a>
                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                            <div style="width: 90%; margin : 0 auto;">
                                <button id="btn-order" type="button" class="btn btn-primary"
                                        style=" width: 100%; height: 60px; border-radius: 10px; font-weight: bold;  font-size : 20px;">
                                    BUY NOW
                                </button>
                            </div>
                        </div>
                    </form>


                    <!--                    <div class="product__details__widget">-->
                    <!--                        <ul>-->
                    <!--                            <li>-->
                    <!--                                <span>Availability:</span>-->
                    <!--                                <div class="stock__checkbox">-->
                    <!--                                    <label for="stockin">-->
                    <!--                                        In Stock-->
                    <!--                                        <input type="checkbox" id="stockin">-->
                    <!--                                        <span class="checkmark"></span>-->
                    <!--                                    </label>-->
                    <!--                                </div>-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <span>Available color:</span>-->
                    <!--                                <div class="color__checkbox">-->
                    <!--                                    <label for="red">-->
                    <!--                                        <input type="radio" name="color__radio" id="red" checked>-->
                    <!--                                        <span class="checkmark"></span>-->
                    <!--                                    </label>-->
                    <!--                                    <label for="black">-->
                    <!--                                        <input type="radio" name="color__radio" id="black">-->
                    <!--                                        <span class="checkmark black-bg"></span>-->
                    <!--                                    </label>-->
                    <!--                                    <label for="grey">-->
                    <!--                                        <input type="radio" name="color__radio" id="grey">-->
                    <!--                                        <span class="checkmark grey-bg"></span>-->
                    <!--                                    </label>-->
                    <!--                                </div>-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <span>Available size:</span>-->
                    <!--                                <div class="size__btn">-->
                    <!--                                    <label for="xs-btn" class="active">-->
                    <!--                                        <input type="radio" id="xs-btn">-->
                    <!--                                        xs-->
                    <!--                                    </label>-->
                    <!--                                    <label for="s-btn">-->
                    <!--                                        <input type="radio" id="s-btn">-->
                    <!--                                        s-->
                    <!--                                    </label>-->
                    <!--                                    <label for="m-btn">-->
                    <!--                                        <input type="radio" id="m-btn">-->
                    <!--                                        m-->
                    <!--                                    </label>-->
                    <!--                                    <label for="l-btn">-->
                    <!--                                        <input type="radio" id="l-btn">-->
                    <!--                                        l-->
                    <!--                                    </label>-->
                    <!--                                </div>-->
                    <!--                            </li>-->
                    <!--                            <li>-->
                    <!--                                <span>Promotions:</span>-->
                    <!--                                <p>Free shipping</p>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->


                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>-->
<!--                        </li>-->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel" th:each="product : ${product}">
<!--                            <h6>Description</h6>-->
                            <p th:text="${product.productDescription}"></p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                        </div>

<!--                        <div class="tab-pane" id="tabs-2" role="tabpanel">-->
<!--                            <h6>Specification</h6>-->
<!--                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed-->
<!--                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.-->
<!--                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam-->
<!--                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu-->
<!--                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla-->
<!--                                consequat massa quis enim.</p>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget-->
<!--                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,-->
<!--                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium-->
<!--                                quis, sem.</p>-->
<!--                        </div>-->

<!--                        <div class="tab-pane" id="tabs-2" role="tabpanel">-->
<!--                            <h6>Reviews ( 2 )</h6>-->
<!--                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed-->
<!--                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.-->
<!--                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam-->
<!--                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu-->
<!--                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla-->
<!--                                consequat massa quis enim.</p>-->
<!--                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget-->
<!--                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,-->
<!--                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium-->
<!--                                quis, sem.</p>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>


        <!--        <div class="row">-->
        <!--            <div class="col-lg-12 text-center">-->
        <!--                <div class="related__title">-->
        <!--                    <h5>RELATED PRODUCTS</h5>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
        <!--                <div class="product__item">-->
        <!--                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-1.jpg">-->
        <!--                        <div class="label new">New</div>-->
        <!--                        <ul class="product__hover">-->
        <!--                            <li><a href="/img/product/related/rp-1.jpg" class="image-popup"><span-->
        <!--                                    class="arrow_expand"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                    <div class="product__item__text">-->
        <!--                        <h6><a href="#">Buttons tweed blazer</a></h6>-->
        <!--                        <div class="rating">-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                        </div>-->
        <!--                        <div class="product__price">$ 59.0</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
        <!--                <div class="product__item">-->
        <!--                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-2.jpg">-->
        <!--                        <ul class="product__hover">-->
        <!--                            <li><a href="/img/product/related/rp-2.jpg" class="image-popup"><span-->
        <!--                                    class="arrow_expand"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                    <div class="product__item__text">-->
        <!--                        <h6><a href="#">Flowy striped skirt</a></h6>-->
        <!--                        <div class="rating">-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                        </div>-->
        <!--                        <div class="product__price">$ 49.0</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
        <!--                <div class="product__item">-->
        <!--                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-3.jpg">-->
        <!--                        <div class="label stockout">out of stock</div>-->
        <!--                        <ul class="product__hover">-->
        <!--                            <li><a href="/img/product/related/rp-3.jpg" class="image-popup"><span-->
        <!--                                    class="arrow_expand"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                    <div class="product__item__text">-->
        <!--                        <h6><a href="#">Cotton T-Shirt</a></h6>-->
        <!--                        <div class="rating">-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                        </div>-->
        <!--                        <div class="product__price">$ 59.0</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-lg-3 col-md-4 col-sm-6">-->
        <!--                <div class="product__item">-->
        <!--                    <div class="product__item__pic set-bg" data-setbg="/img/product/related/rp-4.jpg">-->
        <!--                        <ul class="product__hover">-->
        <!--                            <li><a href="/img/product/related/rp-4.jpg" class="image-popup"><span-->
        <!--                                    class="arrow_expand"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
        <!--                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>-->
        <!--                        </ul>-->
        <!--                    </div>-->
        <!--                    <div class="product__item__text">-->
        <!--                        <h6><a href="#">Slim striped pocket shirt</a></h6>-->
        <!--                        <div class="rating">-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                            <i class="fa fa-star"></i>-->
        <!--                        </div>-->
        <!--                        <div class="product__price">$ 59.0</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<!-- Product Details Section End -->


<!-- footer -->
<div th:insert="/customer/footer"></div>

<script>
    $('#btn-order').click(function () {
        var productId = document.getElementById("id").value;
        document.productInfo.method = "post";
        document.productInfo.action = "/order/" + productId; // action으로 url을 지정
        document.productInfo.submit();                     //  submit()을 하면됨
    });

    $('#btn-cart').click(function () {
        document.productInfo.method = "post";
        document.productInfo.action = "/cart";              // action으로 url을 지정
        document.productInfo.submit();                     //  submit()을 하면됨
    });
</script>


</body>

</html>