<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <input type="text" id="categoryName" placeholder="카테이름"/>
    <button type="submit" id="btn-save">등록</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>


    $('#btn-save').click(function () {
        var data = {
            // categoryCode: $('#categoryCode').val(),
            categoryName: $('#categoryName').val()
        };

        $.ajax({
            type: 'post',
            url: '/category',
            async: 'true', // true
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function () {
            window.location.href = '/';
            alert("설마..?");
        }).fail(function (error) {
            alert(data.categoryCode);
            alert(JSON.stringify(error));
        });
    });


</script>

</body>
</html>