<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/admin/nav"></div>

<div th:each="order : ${orderList}">
    <div th:text="${order.id}">번호</div>
    <div th:text="${order.createdDate}">날짜</div>
    <div th:text="${order.orderNumber}">주문번호</div>
    <div th:text="${order.totalPrice}">주문가격</div>
    <div th:text="${order.quantity}">수량</div>
    <div th:text="${order.product.productName}">상품명</div>
    <div th:text="${order.member.email}">주문자 아이디</div>
    <br>
</div>

</body>
</html>