<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/admin/nav"></div>
<div th:insert="/admin/product-nav"></div>


<form th:action="@{/admin/product-register}" method="post">
    <input type="text" name="productCode" placeholder="상품코드">
    <input type="text" name="productName" placeholder="상품이름">
    <input type="text" name="productPrice" placeholder="상품가격">
    <input type="text" name="quantity" placeholder="재고">
    <br>

    <button type="submit">상품등록</button>
</form>


</body>
</html>