<div th:insert="/customer/header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag"></div>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:insert="/customer/nav"></div>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Cart Section Begin -->
<form name="cartInfo">
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cart : ${cartList}">
                                <input type="text" name="id" th:value="${cart.product.id}" hidden>
                                <td class="cart__product__item">
                                    <div th:switch="${cart.product.imgType}">
                                        <div th:case="'url'"><img style="width: 90px; height: 90px;" th:src=" @{ ${cart.product.productUrlImg} }">
                                        </div>
                                        <div th:case="'file'"><img style="width: 90px; height: 90px;"
                                                th:src=" @{/upload-dir/} + ${cart.product.productFileImg}"></div>
                                    </div>
                                    <div class="cart__product__item__title">
                                        <h6 th:text="${cart.product.productName}" ></h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price" th:text="${cart.product.productPrice}"></td>
                                <td class="cart__quantity">
                                    <div class="pro-qty" >
                                        <input type="text" name="quantity" th:value="${cart.cartQuantity}" >
                                    </div>
                                </td>
                                <td class="cart__total"  th:text="${cart.cartPrice}" ></td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
<!--                        <a href="#"><span class="icon_loading"></span> Update cart</a>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn" style="float : right;">
                        <a href="#" onclick="history.go(-2)">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="discount__content">
<!--                        <h6>Discount codes</h6>-->
<!--                        <form action="#">-->
<!--                            <input type="text" placeholder="Enter your coupon code">-->
<!--                            <button type="submit" class="site-btn">Apply</button>-->
<!--                        </form>-->
                    </div>
                </div>
                <div class="col-lg-12">
<!--                    <div class="cart__total__procced">-->
<!--                        <h6>Cart total</h6>-->
<!--                        <ul>-->
<!--                            <li>Subtotal <span>$ 750.0</span></li>-->
<!--                            <li>Total <span>$ 750.0</span></li>-->
<!--                        </ul>-->
                        <a href="#" class="primary-btn" id="btn-order" style="text-align: center; width: 100%;">Proceed to checkout</a>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
</form>
<!-- Shop Cart Section End -->


<!--<form name="cartInfo">-->
<!--    <ul th:each="cart : ${cartList}">-->
<!--        <li>-->
<!--            <input type="text" name="id" th:value="${cart.product.id}" hidden>-->
<!--            <div th:switch="${cart.product.imgType}">-->
<!--                <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${cart.product.productUrlImg} }">-->
<!--                </div>-->
<!--                <div th:case="'file'"><img style="width:50px; height:50px;"-->
<!--                                           th:src=" @{/upload-dir/} + ${cart.product.productFileImg}"></div>-->
<!--            </div>-->
<!--            가격 : <span th:text="${cart.product.productPrice}"></span>-->
<!--            재고 : <input type="text" name="quantity"  th:value="${cart.cartQuantity}"/>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <button id="btn-order">구매</button>-->
<!--</form>-->

<!-- footer -->
<div th:insert="/customer/footer"></div>


<script>
    $('#btn-order').click(function () {
        document.cartInfo.method = "post";
        document.cartInfo.action = "/orderFromCart"; // action으로 url을 지정
        document.cartInfo.submit();                     //  submit()을 하면됨
    });

    $('.dec').click(function () {
        let quantity = parseFloat($(this).next().val()) - 1;
        let price = parseFloat($(this).parent().parent().parent().children(".cart__price").text());
        let total = quantity * price;

        $(this).parent().parent().parent().children(".cart__total").text(total.toFixed(1));
    });

    $('.inc').click(function () {
        let quantity = parseFloat($(this).prev().val()) + 1;
        let price = parseFloat($(this).parent().parent().parent().children(".cart__price").text());
        let total = quantity * price;

        $(this).parent().parent().parent().children(".cart__total").text(total.toFixed(1));
    });
</script>




</body>

</html>