<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>주문 / 결제</h2>

<h3>구매자 정보</h3>
<div th:each="member : ${member}">
    <div>
        asdasdasdad
        <input id="memberId" th:text="${member.id}" th:value="${member.id}"/>
        <input th:value="${member.email}" />
        <input th:value="${member.name}"/>
    </div>
</div>

<h3>받는사람 정보</h3>

    <div th:each="address : ${addressList}">
        <div>
            <input name=addressId type="radio" th:value="${address.id}">
            <div th:text="${address.postalCode}"></div>
            <div th:text="${address.address}"></div>
            <div th:text="${address.addressDetail}"></div>
            <div th:text="${address.comment}"></div>
        </div>
    </div>

<h3>상품 정보</h3>
<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;" th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div id="productPrice" th:text="${product.productPrice}" th:value="${product.productPrice}"></div>
        <div id="quantity" th:text="${product.quantity}" th:value="${product.quantity}"></div>
        <input name=productId type="text" th:value="${product.id}" hidden>
    </div>
</div>

<h3>결제 정보</h3>

<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {

            var price = document.getElementById("productPrice").getAttribute('value');
            var quantity = document.getElementById("quantity").getAttribute('value');
            var totalPrice = price * quantity;

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: totalPrice
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {

                // Show a success message to the buyer
                var price = document.getElementById("productPrice").getAttribute('value');
                var quantity = document.getElementById("quantity").getAttribute('value');
                var totalPrice = price * quantity;
                var memberId = document.getElementById("memberId").getAttribute('value');
                var addressId = $('input[name=addressId]:checked').val();
                var productId = $('input[name=productId]').val();

                var data = {
                    quantity: quantity,
                    totalPrice: totalPrice,
                    memberId: memberId,
                    addressId: addressId,
                    productId: productId
                };

                $.ajax({
                    type: 'post',
                    url: '/order',
                    data: data
                }).done(function () {
                    window.location.href = '/order/complete';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })

            });
        }
    }).render('#paypal-button-container');
</script>

</body>
</html>