<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>주문/ 결제</h2>

<h3>구매자 정보</h3>

<h3>받는사람 정보</h3>

<h3>상품 정보</h3>
<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;" th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div id="productPrice" th:text="${product.productPrice}" th:value="${product.productPrice}"></div>
        <div id="quantity" th:text="${product.quantity}" th:value="${product.quantity}"></div>
    </div>
</div>

<h3>결제 정보</h3>

<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {

            var price = document.getElementById("productPrice").getAttribute('value');
            var quantity = document.getElementById("quantity").getAttribute('value');
            var totalPrice = price * quantity;

            console.log(price);
            console.log(quantity);
            console.log(totalPrice);

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: totalPrice
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                // alert('Transaction completed by ' + details.payer.name.given_name + '!');
                alert("결제완료");
                console.log(details);
            });
        }


    }).render('#paypal-button-container');
</script>







<!--<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>-->
<!--<script>paypal.Buttons().render('body');</script>-->





</body>
</html>