<div th:insert="/customer/header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag"></div>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:insert="/customer/nav"></div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Check out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">

        <!--<div th:each="member : ${member}">-->
        <!--    <div>-->
        <!--        <input id="memberId" th:value="${member.id}" hidden/>-->
        <!--        회원 아이디 :-->
        <!--        <div th:text="${member.email}" th:value="${member.email}"/>-->
        <!--        회원 이름 :-->
        <!--        <div th:text="${member.name}" th:value="${member.name}"/>-->
        <!--    </div>-->
        <!--</div>-->

        <form action="#" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">

                        <div class="col-lg-12">
                            <h5>개인 정보</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" th:each="member : ${member}"
                             style="margin-bottom: 40px;">
                            <div class="checkout__form__input">
                                <p>ID</p>
                                <input id="memberId" th:value="${member.id}" hidden/>
                                <input th:value="${member.email}" readonly/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" th:each="member : ${member}">
                            <div class="checkout__form__input">
                                <p>Name</p>
                                <input th:value="${member.name}" readonly/>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <h5>배송지 정보</h5>
                        </div>

                        <!--<div th:each="address : ${addressList}">-->
                        <!--    asdasdasdasd-->
                        <!--    <div>-->
                        <!--        <input name=addressId type="radio" th:value="${address.id}">-->
                        <!--        <div th:text="${address.postalCode}"></div>-->
                        <!--        <div th:text="${address.address}"></div>-->
                        <!--        <div th:text="${address.addressDetail}"></div>-->
                        <!--        <div th:text="${address.comment}"></div>-->
                        <!--    </div>-->
                        <!--</div>-->

                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary btn-sm"
                                    style="float: right; margin-bottom: 10px;"><a href="/address"
                                                                                  style="color: white; text-decoration: none;">배송지
                                추가</a></button>
                        </div>

                        <div class="col-lg-12" th:each="address : ${addressList}"
                             style="margin-bottom: 20px; border: 1px solid #999; border-radius: 10px;">

                            <div style="border-bottom: 1px solid black; height: 50px; padding-top: 10px; font-size: 20px; margin-bottom: 20px; font-weight: bold;">
                                <input name=addressId type="radio" th:value="${address.id}">
                                <span th:text="${address.addressMemberName}"> </span>
                            </div>
                            <div class="checkout__form__input">
                                <p>PostalCode</p>
                                <input th:value="${address.postalCode}"/>
                            </div>
                            <div class="checkout__form__input">
                                <p>Address</p>
                                <input th:value="${address.address}"/>
                                <input th:value="${address.addressDetail}"/>
                            </div>
                            <div class="checkout__form__input">
                                <p>comment</p>
                                <input th:value="${address.comment}" placeholder="배송 특이사항을 입력하세요."/>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text" style="width: 90px;">Product</span>
                                    <span class="top__text" style="width : 50%; text-align: center;">Quantity</span>
                                    <span class="top__text__right">Total</span>
                                </li>
                                <li th:each="order : ${orderList}">
                                    <input name=productId type="checkbox" th:value="${order.product.id}" checked hidden/>

                                    <span style="font-weight: normal; width: 90px;" class="top__text" th:text="${order.product.productName}"></span>
                                    <span style="font-weight: normal; width : 50%; text-align: center;" class="top__text" th:text="${order.quantity}"></span>
                                    <input name="quantity" th:value="${order.quantity}" type="checkbox" checked hidden />

                                    <span style="font-weight: normal" class="top__text__right" id="totalPrice" th:text="${order.totalPrice}" th:value="${order.totalPrice}"></span>
                                    <input name="totalPrice" th:value="${order.totalPrice}" type="checkbox" checked hidden />

                                </li>
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>
                                    <span class="top__text" style="width: 90px; float:left;">SubTotal</span>
                                    <span id="sumOfQuantity" class="top__text" style="width : 50%; text-align: center; float:left;" th:text="${sumOfQuantity}"></span>
                                    <span id="subTotal" class="top__text__right" th:text="${subTotal}" ></span>
                                </li>
                            </ul>
                        </div>
                        <div class="checkout__order__widget">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->


<!--<h3>구매자 정보</h3>-->
<!--<div th:each="member : ${member}">-->
<!--    <div>-->
<!--        <input id="memberId" th:value="${member.id}" hidden/>-->
<!--        회원 아이디 :-->
<!--        <div th:text="${member.email}" th:value="${member.email}"/>-->
<!--        회원 이름 :-->
<!--        <div th:text="${member.name}" th:value="${member.name}"/>-->
<!--    </div>-->
<!--</div>-->

<!--<h3>받는사람 정보</h3>-->

<!--<div th:each="address : ${addressList}">-->
<!--    asdasdasdasd-->
<!--    <div>-->
<!--        <input name=addressId type="radio" th:value="${address.id}">-->
<!--        <div th:text="${address.postalCode}"></div>-->
<!--        <div th:text="${address.address}"></div>-->
<!--        <div th:text="${address.addressDetail}"></div>-->
<!--        <div th:text="${address.comment}"></div>-->
<!--    </div>-->
<!--</div>-->

<!--<h3>상품 정보</h3>-->
<!--<div th:each="product : ${product}">-->
<!--    <div>-->
<!--        <input name=productId type="checkbox" th:value="${product.id}">-->
<!--        <div th:text="${product.productName}"></div>-->

<!--        <div th:switch="${product.imgType}">-->
<!--            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>-->
<!--            <div th:case="'file'"><img style="width:50px; height:50px;"-->
<!--                                       th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>-->
<!--        </div>-->

<!--        <div id="productPrice" th:text="${product.productPrice}" th:value="${product.productPrice}"></div>-->
<!--        <div id="quantity" th:text="${product.quantity}" th:value="${product.quantity}"></div>-->
<!--        &lt;!&ndash;        <input name=productId type="text" th:value="${product.id}" hidden>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->

<!--<h3>결제 정보</h3>-->

<!-- Set up a container element for the button -->
<!--<div id="paypal-button-container"></div>-->

<!-- footer -->
<div th:insert="/customer/footer"></div>



<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            var subTotal = document.getElementById("subTotal").innerText;

            var addressId = $('input[name=addressId]:checked').val();

            if(typeof addressId == "undefined"){
                alert("배송지를 선택하세요.");
                return true;
            }

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: subTotal
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {

                var productId = [];
                var quantity =  [];
                var totalPrice = [];

                // Show a success message to the buyer
                var memberId = document.getElementById("memberId").getAttribute('value');
                var addressId = $('input[name=addressId]:checked').val();

                $('input[name="productId"]:checked').each(function (i) {//체크된 리스트 저장
                    productId.push($(this).val());
                });

                $('input[name="quantity"]:checked').each(function (i) {//체크된 리스트 저장
                    quantity.push($(this).val());
                });

                $('input[name="totalPrice"]:checked').each(function (i) {//체크된 리스트 저장
                    totalPrice.push($(this).val());
                });

                var data = {
                    quantity: quantity,
                    totalPrice: totalPrice,
                    memberId: memberId,
                    addressId: addressId,
                    productId: productId
                };

                $.ajax({
                    type: 'post',
                    url: '/order',
                    data: data
                }).done(function () {
                    window.location.href = '/order/complete';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            });
        }
    }).render('#paypal-button-container');
</script>






</body>

</html>
