<div th:insert="/customer/header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag"></div>

<body xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div th:insert="/customer/nav"></div>



<div th:switch="${isZero}">
    <div th:case="NO" class="container">
        <h2>주문내역</h2>
        <table class="table" th:each="order : ${ordersList}">
            <thead>
            <tr>
                <th scope="col" >날짜</th>
                <th scope="col" >주문번호</th>
                <th scope="col" >상품명</th>
                <th scope="col">갯수</th>
                <th scope="col">금액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${#temporals.format(order.createdDate,'yyyy/MM/dd')}"></th>
                <td th:text="${order.orderNumber}"></td>
                <td th:text="${order.product.productName}" ></td>
                <td th:text="${order.product.quantity}"></td>
                <td th:text="${order.totalPrice}" ></td>
            </tr>
            </tbody>
        </table>


    </div>

    <div th:case="YES">
        없뜸!!
    </div>

    <br>
</div>



<!-- footer -->
<div th:insert="/customer/footer"></div>

</body>

</html>
