<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<div th:insert="/common/nav"></div>

<ul th:each="product : ${productList}">
    <li>
        <a th:href="@{/product/} + ${product.id}">
            <div th:text="${product.productName}"></div>
        </a>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;"
                                       th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div th:text="${product.productPrice}"></div>

    </li>
</ul>

</body>
</html>