<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="/common/nav"></div>

<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;" th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div id="productPrice" th:text="${product.productPrice}"></div>
        <div th:text="${product.quantity}"></div>
    </div>
</div>
<form name="productInfo">
<div th:each="product : ${product}">
        QTY : <input type="text"  name="quantity" value="1">
        <input type="text" id="id" name="id" th:value="${product.id}" hidden>
        <button id="btn-cart">카트</button>
        <button id="btn-order">구매</button>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

    $('#btn-order').click(function () {
        var productId = document.getElementById("id").value;
        document.productInfo.method = "post";
        document.productInfo.action = "/order/" +productId; // action으로 url을 지정
        document.productInfo.submit();                     //  submit()을 하면됨
    });

    $('#btn-cart').click(function () {
        document.productInfo.method = "post";
        document.productInfo.action = "/cart";              // action으로 url을 지정
        document.productInfo.submit();                     //  submit()을 하면됨
    });

</script>

</body>
</html>