<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>주문 페이지</h2>

<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;" th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div th:text="${product.productPrice}"></div>
        <div th:text="${product.quantity}"></div>
    </div>
</div>






<div>결제</div>

</body>
</html>