<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="/nav"></div>

<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;"
                                       th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div th:text="${product.productPrice}"></div>
        <div th:text="${product.quantity}"></div>
    </div>
</div>

<!--<form>-->
<!--    <div th:each="product : ${product}">-->
<!--        QTY :-->
<!--        <select id="quantity">-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--            <option value="4">4</option>-->
<!--            <option value="5">5</option>-->
<!--        </select>-->

<!--        <input type="text" id="productId" th:value="${product.id}" hidden />-->

<!--        <button>카트</button>-->
<!--        <button id="btn-pay">구매</button>-->
<!--        -->
<!--    </div>-->
<!--</form>-->
<div th:each="product : ${product}">

    <form th:action="@{/order/} + ${product.id}" method="post">
        QTY :
        <select name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <input type="text"  th:value="${product.id}" hidden/>

        <button>카트</button>
        <button type="submit">구매</button>
    </form>

</div>

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--<script>-->
<!--    var index = {-->
<!--        init: function () {-->
<!--            var _this = this;-->
<!--            $('#btn-pay').on('click', function () {-->
<!--                _this.save();-->
<!--            });-->
<!--        },-->
<!--        save: function () {-->
<!--            var data = {-->
<!--                // quantity: $('#quantity').val(),-->
<!--                productId: $('#productId').val()-->
<!--            };-->

<!--            $.ajax({-->
<!--                type: 'GET',-->
<!--                url: '/order/' + data.productId,-->
<!--                data: data-->
<!--            }).done(function () {-->
<!--                // alert('등록완료');-->
<!--                // window.location.href = '/order/' + data.productId;-->
<!--            }).fail(function (error) {-->
<!--                alert("실패");-->
<!--                alert(JSON.stringify(error));-->
<!--            })-->
<!--        }-->
<!--    };-->
<!--    index.init();-->

<!--</script>-->


</body>
</html>