<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="/nav"></div>

<div th:each="product : ${product}">
    <div>
        <div th:text="${product.productName}"></div>

        <div th:switch="${product.imgType}">
            <div th:case="'url'"><img style="width:50px; height:50px;" th:src=" @{ ${product.productUrlImg} }"></div>
            <div th:case="'file'"><img style="width:50px; height:50px;"
                                       th:src=" @{/upload-dir/} + ${product.productFileImg}"></div>
        </div>

        <div th:text="${product.productPrice}"></div>
        <div th:text="${product.quantity}"></div>
    </div>
</div>

<div th:each="product : ${product}">

    <!--    <form th:action="@{/order/} + ${product.id}" method="post">-->
    <!--        QTY :-->

    <!--        <input type="text" name="quantity" value="1"/>-->
    <!--        <input type="text" th:value="${product.id}" hidden/>-->

    <!--        <button>카트</button>-->
    <!--        <button type="submit">구매</button>-->
    <!--    </form>-->
    <form name="productInfo" method="post">
        QTY :
        <input type="text" name="quantity" value="1"/>
        <input type="text" id="id" name="id" th:value="${product.id}" hidden/>
    </form>
    <a href="#" onClick="btnCart();"><button>카트</button></a>
    <a href="#" onClick="btnOrder();"><button>구매</button></a>

</div>


<script>
    function btnCart(){
        productInfo.action = "/cart" ;
        productInfo.submit();
    }

    function btnOrder() {
        var productId = document.getElementById("id").value;

        productInfo.action = "/order/" +productId;
        productInfo.submit();
    }
</script>


<!--<script>-->
<!--    window.onload = function() {-->
<!--        -->
<!--        var productId = document.getElementById("productId");-->

<!--        document.getElementById("btn-cart").addEventListener("click", function () {-->
<!--            post_to_url("http://localhost:8080/cart", "post");-->
<!--        });-->

<!--        document.getElementById("btn-pay").addEventListener("click", function () {-->
<!--            post_to_url("/order/" + productId, "post");-->
<!--        });-->

<!--    };-->


<!--    function post_to_url(path, method) {-->

<!--        alert("post_to_url");-->
<!--        alert(path);-->
<!--        alert(method);-->

<!--        method = method || "post"; // Set method to post by default, if not specified.-->
<!--        // The rest of this code assumes you are not using a library.-->
<!--        // It can be made less wordy if you use one.-->
<!--        var form = document.createElement("form");-->
<!--        form.setAttribute("method", method);-->
<!--        form.setAttribute("action", path);-->
<!--        // for(var key in params) {-->
<!--        //     var hiddenField = document.createElement("input");-->
<!--        //     hiddenField.setAttribute("type", "text");-->
<!--        //     hiddenField.setAttribute("name", key);-->
<!--        //     hiddenField.setAttribute("value", params[key]);-->
<!--        //     form.appendChild(hiddenField);-->
<!--        // }-->
<!--        document.body.appendChild(form);-->
<!--        form.submit();-->
<!--    }-->
<!--</script>-->


</body>
</html>