<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<!--<form th:action="@{/signup}" method="post">-->
<form>
    <input type="text" id="email" placeholder="이메일 입력해주세요">
    <input type="password" id="password" placeholder="비밀번호">
    <input type="text" id="name" placeholder="이름">
    <input type="text" id="address" placeholder="주소">
    <button id="btn-save" type="submit">가입하기</button>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>


    $('#btn-save').on('click', function () {
        save();
    });


    function save() {
        var data = {
            email: $('#email').val(),
            password: $('#password').val(),
            name: $('#name').val(),
            address: $('#address').val(),
        };
        $.ajax({
            type: 'post',
            url: '/signup',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function () {
            window.location.href = '/login';
        }).fail(function (error) {
            alert(JSON.stringify(error));
        })
    }
</script>


</body>
</html>